<div class="row">
  <h3>Enter three numbers</h3>
  <form action="">
    <div class="form-group">
      <input class="form-control" type="text" name="one">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="two">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="three">
    </div>
    <button class="btn">Submit</button>
  </form>
</div>
<br><br>
<div class="row">
  <p id="results"></p>
</div>
