
<h3>Enter three numbers</h3>
<form action="">
  <input class="one" type="text" name="one">
  <input type="text" name="two">
  <input type="text" name="three">
  <button>Submit</button>
</form>
<br/><br/>
